<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include
    resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include
    resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <include
    resource="org/springframework/boot/logging/logback/file-appender.xml" />

<!-- 
  <logger
    name="org.springframework.data.elasticsearch.client.WIRE"
    level="trace">
    <appender-ref ref="CONSOLE" />
  </logger>
 -->

  <logger name="com.course" level="debug" additivity="false">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </logger>

  <root level="warn">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
</configuration>